/*
#E74C3C
#C0392B

*/


::-moz-selection {
    color: #ffffff;
    background: #656dcb;
}

::selection {
    color: #ffffff;
    background: #656dcb;
}

.btn-col,
.project-details h5,
.project-info h5 {
  border-color: #6c757d;
  color: #6c757d;
}

.btn-col:hover {
color: #383d41;
}

.section-title h3,
.section-title h4,
.step-no,
.sub-steps .icon,
.sub-steps .sub-text,
.testimonial .happy-client,
.client-photos .photo-hold {
border-color:#10B2B6;
}

.color-scheme,
.service-icon,
.step-no .no-inner,
.site-name:hover,
.project-details .details-list li .strong,
.social-icons ul li a:hover {
color:#343a40;
}

.site-name span,
.photo-overlay h4 {
background-color: rgba(0, 255, 255, 0.66);;
}

.photo-zoom:before {
	border-color: rgba(0, 255, 255, 0) rgba(255, 0, 255, 0) rgb(46, 45, 231) rgba(255, 255, 10, 0);

}




